body {
    background-color: black;
    color: white;
    text-align: left;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 4em;
}

#datetime {
    font-size: 3em;
    font-weight: bolder;
}

#weather {
    font-size: 2.5em;
}